@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Abril+Fatface");

* {
  font-family: "Merriweather", serif;
}

p {
  line-height: 1;
}

h4 {
  line-height: 2.3;
}

#app {
  max-height: 100vh;
}

#contents {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  color: #596269;
}

#contents > * {
  padding: 10px;
  min-height: 100vh;
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #88898a;
}

#side-bar {
  min-width: 80px;
  max-width: 300px;
}

#side-bar > a {
  width: 100%;
  border: 0;
}

.list-group-item-outline-light {
  background-color: transparent;
  color: white;
  text-align: center;
}

.list-group-item-outline-light:hover {
  background-color: #f8f9fa7c;
  color: white;
  text-align: center;
}

.list-group-item-outline-light.active {
  background-color: #f8f9fa;
  color: #343a40;
}

.list-group-item-outline-light.active > svg {
  -webkit-animation: flip-vertical-right 4s linear infinite;
  animation: flip-vertical-right 4s linear infinite;
}

.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: none;
}

a {
  font-size: 1.1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: none;
}

.name {
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-family: "Abril Fatface", sans-serif;
  white-space: nowrap;
}

.header {
  text-align: center;
  line-height: 3;
  font-family: "Abril Fatface", sans-serif;
}

.contact-info > a {
  padding: 4px 12px;
}

.social > * {
  margin: 0 10px;
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
}

.flex-equal-size > * {
  flex: 1;
}

.languages > * {
  margin: 4px;
}

.project-card {
  padding: 5px;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid #dee2e6; */
  /* border-radius: .25rem; */
}

.project-card > h4 {
  width: 260px;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.project-card > img {
  width: 200px;
  max-width: 200px;
  margin: 0;
}

/* .display-card {
    min-width: 15vw;
    max-width: 300px;
    min-height: 30vh;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
} */

/* Animation */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* before slide in */

.pre-blur-in {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.blur-in {
  opacity: 1;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flip-vertical-right {
  -webkit-animation: flip-vertical-right 2s linear infinite;
  animation: flip-vertical-right 2s linear infinite;
}

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #ccc;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #596269;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Radial In */
.hvr-radial-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #5962692d;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: white;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  color: #596269;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #596269;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.hvr-underline-from-center:hover, .hvr-underline-from-center:focus, .hvr-underline-from-center:active {
  color: #596269;
}